*{
    font-family:Arial, sans-serif;
    padding: 0;
    margin:0
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: url(1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container{
    background-position: center;
    width: 100%;
    height: 100%;   
    justify-content: center;
    align-items: center;  
}
.container button{
   border: none;
   background: rgb(79, 84, 53) ;
   padding: 12px 30px;
   border-radius: 60px;
   color: aliceblue;
   font-size: 15px;
   transition: .4s;
}
.container button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/*---------------------Navbar--------------------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.logo{
    font-size: 28px;
}
span{
    color: rgb(79, 84, 53);
}
ul{
    list-style: none;
}
ul li{
    list-style-type:none;
    display:inline-flex;
    padding: 10px 20px;
    margin-right: 20px ;
}
ul li a{
    border-bottom: 2px solid transparent;
    font-weight: bold;
}
ul li a:hover{
    border-bottom-color:white ;
    color: rgb(79, 84, 53);
    transition: 0.3s;
}
/*--------------Content------------------*/
.content{
    color:aliceblue;
    width: 30%;
    margin-top: 60px;
    padding: 30px;
}
.content h4{
    font-size: 100px;
    text-transform: uppercase;
}
.content p{
    letter-spacing: 3px;
    width: 350px;
    padding: 20px 0;
}
/*------------------content button------------------*/
.content button{
    font-size:30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;

} 
.content button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}
/*------------------about-------------------*/
.about {
    width: 100%;
    padding: 75px 10px;
    background-color: rgb(79, 84, 53);
}
.about img{
    height: auto;
    width: 350px;
}
.about-text{
    width: 550px;
}
/*---main(all what's n the about section)---*/
.main {
    width: 1500px;
    max-width: 95%;
    margin: 0 auto;
    padding-left: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: black;
    font-size:80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color:rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 25px; 
    text-transform: capitalize;
}
.about-text button{
    background: rgb(128, 131, 133);
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}
footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    bottom :0;
    width:100%;
}
footer a{
    color: white;
    align-items: center;

}